.main{
    background-color: grey;
    width: 75%;
    margin: auto;

}
h1{
    text-align: center;
    color: black;
    display: flex;
    border: 3px solid black;
    border-radius: 20px;
    background-color: bisque;
    text-decoration: dotted;
   
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: right;
    background-color: aliceblue;
    border: 2px;
   
}

nav ul li{
    padding: 10px 12px;
}

nav ul li a{
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    background-color: beige;
    
    
}
nav ul li a:hover{
      bottom: auto;
      
}
h3{
    text-align: center;
}

#myImage img{
    width: 75%;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

#hurmangör{
    display: flex;
    background-color: beige;
    width: 75%;
    margin: auto;
}

#AlltAnnat{
    display: flex;
    background-color: burlywood;
    width: 75%;
    margin: auto;
}

#shopping ul li{
    display: flex;
    margin: auto;
    width: 10%;
    font-size: larger;
    list-style: circle;
}