body{
    background-color: rgb(114, 87, 87);
}
h1{
    text-align: center;
}
img{
    border-radius: 40px;
    width: 85%;
    height: 25%;
    
}
p{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(18, 17, 16);
    border: 2px solid blanchedalmond;
    border-radius: 5px;
    background-color: rgb(129, 129, 52);
    text-decoration: double;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(17, 19, 18);
}
.AlltAnnat{
    background-color: rgb(78, 52, 18);
    width: 60%;
    margin-right: 40%;
    border: 2px solid black;
    margin-top: -25%;
}
.myImage{
    border: 1px;
    width: 25%;
    margin-left: 65%;
    text-align: center;
    margin-top: auto;
}
